
form{
    border: 1px solid;
    border-radius: 20px;
    width:30%;
    text-align: left;
    padding-left: 55px;
    padding-top: 0px;
}
input[type=text], select, input[type=email] {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
input[type=number]{
  width: 25%;
  padding: 5px 5px 5px 5px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
span{
    text-align: left;
}
.hiddenField{
visibility: hidden;
padding: 0;
margin: 0;
font-size: 0px;
height: 0;
width: 0;
border: 0px;
}
#address
{padding: 40px 20px;}
#submitButton{
    width :80%;
}
#registerAs{
    text-align: center;
    padding-top:55px ;
}
.required{
    color: red;
}
